h1 {
  text-align: center;
  color: black;
  font-family: "Merriweather", serif;
  color: darkgreen;
}
h2 {
  text-align: center;
  font-weight: lighter;
}
body {
  background-color: cornsilk;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  /* text-align: center; */
  width: 60%;
  margin: 0 auto;
}
.findOutMore {
  width: 60%;
  margin: 0 auto;
}
.hMusic {
  text-align: center;
}

.listboxBefore {
  width: 60%;
  margin: 0 auto;
}
.listboxAfter {
  width: 60%;
  margin: 0 auto;
}
.player {
  text-align: center;
}

.copyright {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-size: 25px;
}
.tableMovies {
  margin-left: auto;
  margin-right: auto;
}
.year {
  text-align: center;
}
a:hover {
  color: darkblue;
}
.videoAnimals {
  width: 100%;
  margin: 0 auto;
}
.mainPage {
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: darkgreen;
}
